[user]
    name = Andrew Tiu
    email = 63322884+winter-again@users.noreply.github.com
[core]
    editor = nvim
    pager = delta
    autocrlf = input
[init]
    defaultBranch = main
[delta]
    navigate = true
    light = false
    line-numbers = true
    side-by-side = true
    syntax-theme = tokyonight_night
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
