[user]
    name = Andrew Tiu
    email = 63322884+winter-again@users.noreply.github.com
[core]
    editor = nvim
    autocrlf = input ; replace CRLF with LF when writing, but read as-is
[init]
    defaultBranch = main
[pull]
    rebase = true ; rebase branches on top of the fetched branch
[push]
    default = current ; push current branch to its upstream branch of the same name
[rebase]
    autoStash = true ; auto stash/pop on rebase
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
