window {
    margin: 5px;
    background-color: #16161e;
    font: Hack Nerd Font Mono;
    font-size: 20px;
    border: 5px solid #9d7cd8;
    border-radius: 10px;
}

#input {
    margin: 5px;
    background-color: #16161e;
    color: #c0caf5;
}

/* holds entries */
#inner-box {
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    background-color: transparent;
}

#entry:selected {
    background-color: #292e42;
    border-radius: 10px;
}

/* scroll window holding inner-box*/
#scroll {
    border-radius: 10px;
    background-color: #16161e;
}

#text {
    color: #c0caf5;
    margin: 5px;
    background-color: transparent;
}
