* {
    font-family:
        ZedMono Nerd Font,
        Noto Sans CJK KR;
    border: none;
    font-size: 14px;
    padding: 0px 0px;
    margin: 0px 0px 1px 0px;
}

window#waybar {
    background-color: #16161e;
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: 0.5s;
}

tooltip {
    color: #c0caf5;
    background: #292e42;
    border-radius: 5px;
}

#workspaces button {
    color: #c0caf5;
    background: transparent;
    border-radius: 5px;
    min-width: 1.6rem;
    /* to avoid sizing change for urgent workspace's border */
    /* border: 2px solid transparent; */
}

#workspaces button.visible {
    color: #16161e;
    background: #9d7cd8;
}

#workspaces button.visible:hover {
    background: #9d7cd8;
}

#workspaces button.focused {
    color: #16161e;
    background: #7aa2f7;
}

#workspaces button.focused:hover {
    background: #7aa2f7;
}

#workspaces button:hover {
    background: #292e42;
    box-shadow: none;
}

#workspaces button.urgent {
    color: #f7768e;
}

#custom-spotify {
    color: #1db954;
    margin-left: 120px;
}

#custom-spotify.paused {
    color: #c0caf5;
}

#custom-weather,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#tray {
    color: #c0caf5;
    background: transparent;
    padding: 0px;
    border-radius: 5px;
    margin: 0px 10px;
}

#custom-weather {
    margin-right: 80px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#temperature.critical {
    color: #f7768e;
}

#network.disconnected {
    color: #f7768e;
}

#battery.critical:not(.charging) {
    color: #f7768e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    box-shadow: inset 0 -3px #f7768e;
}

label:focus {
    background-color: #16161e;
}
