/* tokyo night */
/* @define-color primary #7aa2f7; */
/* @define-color secondary #9d7cd8; */
/* @define-color fg #c0caf5; */
/* @define-color bg #292e42; */
/* @define-color bg-alt #16161e; */
/* @define-color urgent #f7768e; */

/* mountain */
@define-color primary #8f8aac;
@define-color secondary #8aac8b;
@define-color fg #f0f0f0;
@define-color bg #0f0f0f;
@define-color bg-alt #262626;
@define-color urgent #ac8a8c;

@define-color spotify #1db954;

* {
    font-family:
        ZedMono Nerd Font,
        Noto Sans CJK KR;
    border: none;
    font-size: 14px;
    padding: 0px 0px;
    margin: 0px 0px 1px 0px;
}

window#waybar {
    background-color: @bg;
    color: @fg;
    transition-property: background-color;
    transition-duration: 0.5s;
}

tooltip {
    color: @fg;
    background: @bg;
    border-radius: 0px;
}

#mode {
    margin-left: 1rem;
}

#workspaces button {
    color: @fg;
    background: transparent;
    border-radius: 0px;
    min-width: 1.6rem;
    /* to avoid sizing change for urgent workspace's border */
    /* border: 2px solid transparent; */
}

#workspaces button.visible {
    color: @bg;
    background: @secondary;
}

#workspaces button.visible:hover {
    background: @bg-alt;
}

#workspaces button.focused {
    color: @bg-alt;
    background: @primary;
}

#workspaces button.focused:hover {
    background: @primary;
}

#workspaces button:hover {
    background: @bg-alt;
    box-shadow: none;
}

#workspaces button.urgent {
    color: @urgent;
}

#custom-spotify {
    color: @spotify;
    margin-left: 120px;
}

#custom-spotify.paused {
    color: @fg;
}

#mpris {
    color: @spotify;
    margin-left: 15rem;
}

#mpris.paused {
    color: @fg;
}

#custom-weather,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#tray {
    color: @fg;
    background: transparent;
    padding: 0px;
    border-radius: 5px;
    margin: 0px 10px;
}

#custom-weather {
    margin-right: 8rem;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#temperature.critical {
    color: @urgent;
}

#network.disconnected {
    color: @urgent;
}

#battery.critical:not(.charging) {
    color: @urgent;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    box-shadow: inset 0 -3px @urgent;
}

label:focus {
    background-color: @bg-alt;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: green;
}
