* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family:
        Hack Nerd Font Mono,
        Noto Sans CJK KR;
    font-size: 13px;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: #16161e;
    border-bottom: none;
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

tooltip {
    background-color: #292e42;
    color: #c0caf5;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/* button:hover { */
/*     background: inherit; */
/*     box-shadow: inset 0 -3px #c0caf5; */
/* } */

#workspaces button {
    background-color: transparent;
    color: #c0caf5;
    border-radius: 10px;
    /* seem to need to reset min-width b/c of gtk theme issue?*/
    min-width: 0.8rem;
    padding: 0 0.5rem;
}

#workspaces button:hover {
    /* background: transparent; */
    /* border: 2px solid #c0caf5; */
    background: #292e42;
    border: none;
    /* box-shadow: inherit; */
    /* text-shadow: inherit; */
}

#workspaces button.visible {
    /* background: transparent; */
    /* border: 2px solid #9d7cd8; */
    color: #1a1b26;
    background: #9d7cd8;
}

#workspaces button.focused {
    /* background: transparent; */
    /* border: 2px solid #7aa2f7; */
    color: #1a1b26;
    background: #7aa2f7;
    border: none;
}

#workspaces button.urgent {
    background: transparent;
    border: 2px solid #db4b4b;
}

#mpris {
    color: #1db954;
    margin-left: 60px;
}

#custom-media {
    color: #1db954;
    margin-left: 60px;
}

#custom-weather,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#tray {
    background: transparent;
    padding: 0 10px;
    border-radius: 10px;
}

#custom-weather {
    margin-right: 40px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* #clock { */
/*     background: #1a1b26; */
/* } */

#pulseaudio {
    color: #c0caf5;
}

#cpu {
    color: #c0caf5;
}

#memory {
    color: #c0caf5;
}

/* #temperature { */
/*     background-color: #f0932b; */
/* } */

#temperature.critical {
    border: 2px solid #db4b4b;
}

#network.disconnected {
    border: 2px solid #db4b4b;
}
#battery {
    color: #c0caf5;
}

#battery.charging,
#battery.plugged {
    color: #c0caf5;
}

/* @keyframes blink { */
/*     to { */
/*         background-color: #ffffff; */
/*         color: #000000; */
/*     } */
/* } */

#battery.critical:not(.charging) {
    background-color: #db4b4b;
    color: #c0caf5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* #tray { */
/*     background-color: #2980b9; */
/* } */

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    /* background-color: #db4b4b; */
    box-shadow: inset 0 -3px #db4b4b;
}

label:focus {
    background-color: #1a1b26;
}
