window {
    background-image: url("/home/winteragain/Pictures/wallpapers/Titian-Ramsay-Peale-Spray-of-Flowers-and-Ferns.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* used if image fails to load */
    background-color: #0f0f0f;
    color: #f0f0f0;
    font-family: monospace;
}

#window-box {
    background-color: rgba(15, 15, 15, 0.85);
    /* background-color: #0f0f0f; */
    padding: 10px;
}

/* #info-box { */
/*     background: transparent; */
/* } */

#input-field {
    border: none;
    background: rgba(38, 38, 38, 0.85);
    /* background: #262626; */
    box-shadow: none;
}

#error-label {
    color: #b36d7c;
}

#unlock-button {
    color: #0f0f0f;
    background: #8f8aac;
}
